@import url("/home/ale/.config/waybar/base.css");

* {
  font-size: 15px;
  font-family: Rubik;
}

.modules-right,
.modules-center,
.modules-left {
  color: @base3
}

.modules-right,
.modules-left {}

.modules-right {
  margin-right: 10px;
}

.modules-left {
  margin-left: 5px;
}

window#waybar {
  background: transparent;
}

.modules-right * {
  margin-left: 20px;
}

#workspaces button {
  margin: 5px;
  padding: 0;
  border-radius: 0;
  background: transparent;
  color: @foreground;
}

#workspaces button.focused {
  color: @yellow;
}

#workspaces button.active {
  color: @yellow;
}

#mode {
  margin-left: 30px;
}
