@import url("/home/ale/.config/waybar/base.css");
@import url("/home/ale/.config/waybar/everforest.css");

* {
  font-family: Rubik;
  font-size: 14px;
  border-radius: 7px;
}

.modules-right,
.modules-center,
.modules-left {
  color: @foreground;
  background: @background;
  margin: 5px;
  padding: 7px;
}

window#waybar {
  background: transparent;
}

.modules-right * {
  margin-left: 10px;
}

#workspaces button {
  margin: 5px;
  padding: 0;
  border-radius: 0;
  background: transparent;
  color: @foreground;
}

#workspaces button.focused {
  color: @yellow;
}

#workspaces button.active {
  color: @yellow;
}

#mode {
  margin-left: 30px;
}

#network {
  color: @purple;
}

#pulseaudio {
  color: @blue;
}

#battery {
  color: @aqua;
}

#clock {
  color: @yellow;
}

#window {
  color: @orange;
  margin-left: 15px;
}
